.segment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* <div className="ui segment" style={{width: '950px', display: 'flex', flexDirection: 'rows', justifyContent: 'center'}}> */
.card {
  /* Remove this to set the canvas to render to default of 300x150 */
  width: 760px !important;
  padding: 20px !important;
}

.btn {
  width: 200px;
}

.caption {
  border: 0 !important;
  padding: 0 !important;
}

.model {
  width: 720px !important;
  height: 480px !important;
  display: block;
}

/* .test {
  width: 300px !important;
  height: 200px !important;
} */

.canv1 {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* @media only screen and (max-width: 600px) {
  .canv1 {
    height: auto !important;
    width: 560px !important;
  }
} */

